<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>99752408527-vjkd7hvgpfr5fr1vmkqrvflj0at4k2eg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.99752408527-vjkd7hvgpfr5fr1vmkqrvflj0at4k2eg</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>99752408527-t17sg7f448d7sbe7mmmm3pj6k3ql9n64.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBLCCmOtUeywFLnKMVybUuIAH5O80sMD4g</string>
	<key>GCM_SENDER_ID</key>
	<string>99752408527</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.muehldorfsd.theislamiclibrary</string>
	<key>PROJECT_ID</key>
	<string>the-islamic-library-30896</string>
	<key>STORAGE_BUCKET</key>
	<string>the-islamic-library-30896.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:99752408527:ios:e56525b8724c8d43f74eba</string>
</dict>
</plist>